<?xml version="1.0" encoding="utf-8" ?>
<acl>
	<user name="pera">
		<permission type="delete">delete</permission>
	</user>
	<user name="wcfclient">
		<permission type="read">read</permission>
		<permission type="delete">delete</permission>
		<permission type="modify">modify</permission>
		<permission type="manage">manage</permission>
	</user>
	<user name="Nina">
		<permission type="read">read</permission>
		<permission type="delete">delete</permission>
        <permission type="modify">modify</permission>
	</user>
</acl>